include CMakeLists.txt
include docs/conf.py docs/Makefile docs/*.rst
recursive-include cmake *
recursive-include docs/_static *
recursive-include docs/contents *
recursive-include include *
recursive-include src *
recursive-include tests *
